:root {
  --color-primary: #e7eaee;
  /* --color-gray: #868e96; */
  --color-gray: #777777;
  /* --color-gray-dark: #2e3942; */
  --color-gray-dark: #29333b;
  --color-green: #009e74;
  --color-green-dark: #007e5d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: var(--color-primary);
}
.body {
  width: 100vw;
}

.container {
  width: 85vw;
  /* height: 100vh; */
  margin: 3rem auto;
  font-family: sans-serif;
  color: var(--color-gray);
  background-color: white;

  display: grid;
  grid-template-columns: 1fr 25rem;
}
.invoice__box {
  position: relative;
  z-index: 99;
}
.page1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  top: 0.3rem;
  right: -4px;
  border-right: 1px solid rgba(73, 80, 87, 0.3);
  border-bottom: 1px solid rgba(73, 80, 87, 0.3);
  z-index: -1;
}
.page2 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  top: 0.6rem;
  right: -7px;
  border-right: 1px solid rgba(73, 80, 87, 0.3);
  border-bottom: 1px solid rgba(73, 80, 87, 0.3);
  z-index: -2;
}
.invoice__page {
  border: 1px solid rgba(73, 80, 87, 0.3);
  /* padding: 2rem 4rem 4rem 2rem; */
}
.invoice__top {
  display: grid;
  padding: 2rem 4rem 0rem 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.error {
  border: 1px solid red !important;
}
.add__logo--btn {
  border: 1px solid rgba(73, 80, 87, 0.3);
  border-radius: 0.3rem;
  background-color: rgba(73, 80, 87, 0.06);
  transition: 0.2s;
  margin-bottom: 1.6rem;
}
.add__logo--btn:hover {
  background-color: rgba(73, 80, 87, 0.12);
}
.add__logo {
  padding: 5.5rem 3rem;
  cursor: pointer;

  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}
.plus__icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-gray);
}
.btn__text {
  font-size: 1.8rem;
  color: var(--color-gray);
}
.invoice__text--box2 {
  display: none;
}
.invoice__from--input {
  width: 65%;
  padding: 0.8rem;
  resize: none;
  color: var(--color-gray-dark);
  font-size: 1.4rem;
  /* font-weight: 500; */
  border-radius: 0.3rem;
  border: 1px solid rgba(73, 80, 87, 0.3);
  margin-bottom: 1.6rem;
  transition: 0.3s;
}
.invoice__from--input:hover {
  border: 1px solid rgba(73, 80, 87, 0.5);
}
.invoice__from--input:focus {
  outline: none;
  border: 1px solid var(--color-green);
}
.invoice-to__details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  padding: 0 1.4rem;
}
.bill__to--field,
.ship__to--field {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.bill-to__label,
.ship-to__label {
  border: none;

  padding: 0.6rem 0.4rem;
  width: 80%;
  color: var(--color-gray);
  border-radius: 0.3rem;
  outline: 1px solid rgba(0, 0, 0, 0);
  transition: outline 0.3s;
}

.bill-to__label:hover,
.ship-to__label:hover,
.invoice__detail--label:hover,
.invoice__text:hover,
.invoice__bottom--left-tittle:hover,
.title:hover {
  outline: 1px solid rgba(73, 80, 87, 0.3);
}

.bill-to__label:focus,
.ship-to__label:focus,
.invoice__detail--label:focus,
.invoice__text:focus,
.invoice__bottom--left-tittle:focus,
.title:focus {
  outline: 1px solid rgba(73, 80, 87, 0.5);
}

.bill-to__input,
.ship-to__input,
.invoice__detail--input {
  border: 1px solid rgba(73, 80, 87, 0.3);
  border-radius: 0.3rem;
  padding: 0.4rem;
  color: var(--color-gray-dark);
  font-size: 1.4rem;
  resize: none;
  transition: 0.3s;
}
.invoice__detail--input {
  direction: rtl;
}
.bill-to__input:hover,
.ship-to__input:hover,
.invoice__detail--input:hover,
.invoice-id:hover,
.item__row--input:hover,
.invoice__bottom--left-input:hover,
.input-num:hover,
.select__currency:hover,
.select__type:hover {
  border: 1px solid rgba(73, 80, 87, 0.6);
}
.bill-to__input:focus,
.ship-to__input:focus,
.invoice__detail--input:focus,
.invoice-id:focus,
.item__row--input:focus,
.invoice__bottom--left-input:focus,
.input-num:focus,
.select__currency:focus,
.select__type:focus {
  outline: none;
  border: 1px solid var(--color-green);
}
.invoice__bottom {
  padding: 0rem 4rem 0rem 2rem;
  margin-bottom: 2.4rem;
}
.invoice__text--box {
  width: 100%;
}
.invoice__text {
  text-align: right;
  margin-bottom: 1.4rem;
  font-size: 5rem;
  color: #343a40;
  padding: 0 1.2rem;
  width: 100%;
  border-radius: 0.3rem;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0);
  transition: outline 0.3s;
}
.invoice__text::placeholder {
  color: #343a40;
}
.invoice__id--box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* height: 0.5rem; */
}
.hash,
.invoice-id {
  border: 1px solid rgba(73, 80, 87, 0.3);
  border-radius: 0.3rem;
  font-size: 1.4rem;
  padding: 1rem 1.4rem;
  color: black;
}
.hash {
  border-right: none;
  background-color: var(--color-primary);
  color: black;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.invoice-id {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 28%;
  color: var(--color-gray-dark);
  direction: rtl;
  text-align: right;
}
.invoice__details {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 3.8rem;
}
.invoice__detail {
  display: flex;
  gap: 0.4rem;
}
.invoice__text--box2 .invoice-id {
  width: 20%;
}
.invoice__detail--label {
  text-align: right;
  padding: 0.6rem 1rem;
  width: 65%;
  color: var(--color-gray);
  font-size: 1.4rem;
  border-radius: 0.3rem;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0);
  transition: outline 0.3s;
}
.invoice__detail--input {
  width: 35%;
}

.invoice__middle {
  margin-top: 3rem;
  /* padding: 0rem 4rem 0rem 2rem; */
  display: flex;
  flex-direction: column;
  /* gap: 0.3rem; */
}
.item__header,
.item__row {
  display: grid;
  grid-template-columns: 1fr 9.5rem 10.5rem 12rem;
  gap: 0.4rem;
}
.item__header {
  margin: 0rem 4rem 0rem 2rem;
}
.item__row {
  position: relative;
  padding: 0rem 4rem 0rem 2rem;
  margin-top: 0.2rem;
}
.item__line--close-icon {
  position: absolute;
  right: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  color: var(--color-gray);
  cursor: pointer;
  display: none;
}

.item__line--close-icon:hover {
  color: var(--color-green);
}
.mul-icon {
  width: 2rem;
  height: 2rem;
  color: var(--color-gray);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1.6rem;
  display: none;
}
.item__header {
  background-color: var(--color-gray-dark);
  border-radius: 0.3rem;
  /* z-index: 1; */
}
.item__header--text {
  background-color: var(--color-gray-dark);
  padding: 0.6rem 1rem;
  color: white;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.3rem;
  transition: background-color 0.3s;
  /* z-index: 9; */
}

.item__header--text:hover {
  background-color: #2e3942;
}
.item__header--text:focus {
  background-color: #434d55;
  outline: none;
}
.item__header--amount {
  text-align: right;
}
.item__row--input {
  padding: 0.8rem 1rem;
  border: 1px solid rgba(73, 80, 87, 0.3);
  border-radius: 0.3rem;
  color: black;
  font-size: 1.4rem;
}
.item__input--rate {
  position: relative;
  /* width: %; */
}
.currency-rate {
  position: absolute;
  left: 0.4rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4rem;
}
.input-rate {
  padding-left: 3rem;
  width: 100%;
}
.item__row--amount {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 1.8rem;
  font-size: 1.4rem;
  color: black;
}

.add__line--btn {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  margin-top: 0.4rem;
  border-radius: 0.3rem;
  gap: 0.4rem;
  background-color: var(--color-green);
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}
.add__line--btn:hover {
  background-color: var(--color-green-dark);
}
.add__line--item,
.invoice__bottom {
  padding: 0rem 1.2rem;
}
.invoice__bottom {
  padding-right: 0;
}
.invoice__bottom--right-row2,
.invoice__bottom--right-row3,
.subtotal__box,
.tax__box,
.discount__box {
  padding-right: 2.54rem;
}
.tax__box,
.discount__box {
  padding-right: 2.6rem;
}
.input__num--box {
  position: relative;
  width: 33.65%;
}

.shipping__box {
  padding-right: 2.7rem;
}

.add__line--item {
  padding-left: 2rem;
}
.add__line--icon {
  width: 1.7rem;
  height: 1.7rem;
  color: white;
}
.add__line--btn-text {
  font-size: 1.4rem;
}
.invoice__bottom {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.4rem;
}
.invoice__bottom--left {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.terms__box,
.notes__box {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.invoice__bottom--left-tittle {
  width: 25%;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  color: var(--color-gray);
  font-size: 1.4rem;
  outline: 1px solid rgba(0, 0, 0, 0);
  transition: outline 0.3s;
}
.invoice__bottom--left-input {
  border: 1px solid rgba(73, 80, 87, 0.3);
  resize: none;
  font-size: 1.4rem;
  padding: 0.8rem 1rem;
  color: var(--color-gray-dark);
  border-radius: 0.3rem;
  transition: border 0.3s;
}
.invoice__bottom--right {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-right: 1rem;
}
.invoice__bottom--right-row1 {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.subtotal__box,
.tax__box,
.discount__box,
.shipping__box,
.invoice__bottom--right-row2,
.total__box,
.amount-paid__box,
.balance-due__box {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.invoice__bottom--right-row2 {
  justify-content: flex-end;
  margin-right: 0.4rem;
  gap: 1rem;
}
.invoice__bottom--right-row3 {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.discount-btn,
.shipping-btn,
.tax-btn {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: var(--color-green);
}
.tax-btn {
  display: none;
}
.plus__icon--green {
  width: 1.6rem;
  height: 1.6rem;
  color: var(--color-green);
}
.change-type {
  width: 1.6rem;
  height: 1.6rem;
  color: var(--color-gray);
}
.tax__box:hover .close-icon,
.discount__box:hover .close-icon,
.shipping__box:hover .close-icon {
  display: block;
}

.close-icon {
  width: 2rem;
  height: 2rem;
  color: var(--color-gray);
  position: absolute;
  right: 0rem;
  transition: color 0.2s;
  display: none;
  cursor: pointer;
}
.close-icon:hover {
  color: var(--color-green);
}
.change-type:hover {
  color: var(--color-green);
}
.title {
  width: 65%;
  text-align: right;
  padding: 0.8rem 1rem;
  border: none;
  font-size: 1.4rem;
  color: var(--color-gray);
  border-radius: 0.3rem;

  outline: 1px solid rgba(0, 0, 0, 0);
  transition: outline 0.3s;
}
.tax__tittle {
  /* width: 90%; */
}
.input-num {
  /* text-align: right; */
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid rgba(73, 80, 87, 0.3);
  width: 34%;
}
.discount__box,
.shipping__box {
  display: none;
}
.tax__input,
.discount__input {
  padding: 0.8rem 5.2rem 0.8rem 1rem;
  direction: rtl;
  width: 100%;
}
.discount__input {
  padding-right: 5.4rem;
}
.shipping__input {
  padding: 0.8rem 1rem 0.8rem 3rem;
  width: 100%;
}
.ship__box {
  width: 34%;
  position: relative;
}
.amount__input {
  padding: 0.8rem 1rem 0.8rem 3rem;
  /* direction: ltr; */
}
.amount__input--box {
  position: relative;
  width: 34%;
}
.amount__input {
  width: 100%;
}
.type-curr {
  /* display: none; */
}
.hide {
  display: none;
}
.value {
  margin-left: auto;
  margin-right: 0.4rem;
  color: black;
  font-size: 1.4rem;
}
.sub__value,
.total-value,
.bal__value {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.4rem;
  color: black;
}
.tax__box,
.discount__box,
.shipping__box {
  position: relative;
}
.percentage {
  position: absolute;
  right: 3.7rem;
  top: 50%;
  transform: translateY(-50%);
}
.change-type {
  position: absolute;
  right: 1.2rem;
  top: 1rem;
}
.percentage,
.currency {
  font-size: 1.4rem;
  color: black;
}
/* .amount-paid__box {
  position: relative;
} */

.amount__input[type="number"]::-webkit-inner-spin-button,
.amount__input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.item__row--input[type="number"]::-webkit-inner-spin-button,
.item__row--input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.tax__input[type="number"]::-webkit-inner-spin-button,
.tax__input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.discount__input[type="number"]::-webkit-inner-spin-button,
.discount__input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.shipping__input[type="number"]::-webkit-inner-spin-button,
.shipping__input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.currency {
  position: absolute;
  left: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
}
.curr1 {
  font-size: 1.2rem;
}
.curr2 {
  font-size: 1.5rem;
}
.currency-rate {
  left: 0.6rem;
}
.currency-amount {
  margin-right: 0.4rem;
}
.discount-btn,
.tax-btn,
.shipping-btn {
  cursor: pointer;
}
.discount-btn:hover,
.shipping-btn:hover,
.tax-btn:hover {
  color: var(--color-green-dark);
}
.discount-btn:hover .plus__icon--green,
.shipping-btn:hover .plus__icon--green,
.tax-btn:hover .plus__icon--green {
  color: var(--color-green-dark);
}

.sidebar {
  background-color: var(--color-primary);
  padding: 2.4rem 3rem;
}
.btn__container {
  display: none;
}

.download__invoice {
  background-color: var(--color-green);
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  transition: background-color 0.3s;
}
.download__invoice:hover {
  background-color: var(--color-green-dark);
}
.disabled:hover {
  background-color: var(--color-green);
}
.download-icon {
  width: 2rem;
  height: 2rem;
  color: white;
}
.download-text {
  font-size: 1.6rem;
  color: white;
}
.sidebar__box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-bottom: 1rem;
  margin: 2rem 0rem 0rem 1.6rem;
}
.currency-box,
.type-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sidebar-label {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgba(73, 80, 87, 0.9);
}
.select__currency,
.select__type {
  padding: 0.8rem 1.4rem;
  color: var(--color-gray-dark);
  border: 1px solid rgba(73, 80, 87, 0.3);
  border-radius: 0.3rem;
  font-size: 1.4rem;
  transition: 0.3s;
}

.save-default {
  color: var(--color-green);
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s;
}
.save-default:hover {
  color: var(--color-green-dark);
}

.history {
  margin-top: 1.6rem;
  padding-top: 1.2rem;
  border-top: 1px solid rgba(73, 80, 87, 0.15);
}
.history-btn {
  padding: 1.2rem 2rem;
  border: none;
  background-color: var(--color-primary);
  border-radius: 0.3rem;
  color: rgba(73, 80, 87);
  width: 100%;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  transform: all 0.3s;
}
.history-tittle {
  font-size: 1.8rem;
}
.history-btn:hover {
  background-color: var(--color-green);
  color: white;
}
/* .history-btn:hover .history__bg {
  background-color: white;
}
.history-btn:hover .history__num {
  color: var(--color-green);
}
.history__bg {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fa5252;
}

.history__num {
  font-size: 1.6rem;
  color: white;
  position: absolute;
  top: 0.1rem;
  left: 0.5rem;
}
.history__count {
  position: relative;
} */

/* 1400px */
@media only screen and (max-width: 87.5em) {
  .container {
    /* min-width: 95vw; */
    width: 95vw;
  }
}
/* 1100px */
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 56.25%;
  }
  .container {
    /* min-width: 98vw; */
    width: 98vw;
  }
}

/* 960px */
@media only screen and (max-width: 60em) {
  html {
    font-size: 62.5%;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .sidebar-label,
  .save-default {
    text-align: center;
  }
  .history-btn {
    justify-content: center;
  }
}

/* 800px */
@media only screen and (max-width: 50em) {
  .container {
    width: 85vw;
  }
  .invoice__top {
    padding: 2rem 1.2rem 0rem 1.2rem;
    grid-template-columns: 1fr;
  }
  .invoice__from--input {
    width: 100%;
  }
  .invoice-to__details {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .item__line--close-icon {
    display: inline-block !important;
    top: 2rem;
    right: 1rem;
  }
  .close-icon {
    display: block !important;
  }
  .invoice__text--box2 {
    display: block;
    margin-bottom: 1.6rem;
  }
  .invoice__text--box {
    display: none;
  }
  .invoice__text {
    text-align: left;
  }
  .invoice__id--box {
    justify-content: start;
  }
  .add__logo {
    padding: 2rem 3rem;
  }
  .item__header {
    display: none;
  }
  .add__line--item {
    padding: 0 1.2rem;
  }
  .invoice__bottom--right {
    padding: 0 3.2rem;
  }
  .item__row {
    grid-template-rows: max-content max-content max-content;
    grid-template-columns: 1fr 3fr;
    border: 1px solid rgba(73, 80, 87, 0.3);
    border-bottom: none;
    margin: 0 1.2rem;
    padding: 1.4rem;
  }

  .item__row:nth-last-of-type(2) {
    border-bottom: 1px solid rgba(73, 80, 87, 0.3);
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
  }
  .item__header + .item__row {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }
  .mul-icon {
    display: block;
  }
  .item__row--amount {
    display: flex;
    justify-content: left;
    grid-row: 1/2;
    grid-column: 1/-1;
    width: 100%;
    padding: 1rem;
    padding-left: 0;
  }
  .item__row--amount::before {
    content: "Amount:";
    color: var(--color-gray);
    font-size: 1.4rem;
    margin-right: 1rem;
  }
  .terms__box,
  .notes__box {
    padding-right: 1rem;
  }
  .input-rate {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 80%;
  }
  .input-quntity {
    margin-left: 2rem;
    width: 25%;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .input-item {
    grid-row: 3/4;
    grid-column: 1/-1;
  }
  .invoice__bottom {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }
  .download__invoice--btn,
  .history {
    display: none;
  }
  .history-tittle {
    font-size: 1.7rem;
  }

  .btn__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.85);
    width: 100vw;
    height: 5rem;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
  }
  .history-btn {
    width: 12rem;
    padding: 1rem !important;
    background-color: white;
  }

  .download__invoice {
    padding: 1rem 2rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .container {
    width: 95vw;
    margin-right: 1.2rem;
  }
  .invoice__detail--label {
    width: 50%;
  }
  .invoice__detail--input {
    width: 14rem;
  }
  .invoice__detail {
    /* margin-left: auto; */
    justify-content: flex-end;
  }
  .title {
    width: 60%;
  }
  .invoice__text--box2 .invoice-id {
    width: 30%;
  }
  .invoice__bottom--right {
    padding-right: 2rem;
  }
  .input-num,
  .amount__input--box {
    margin-left: auto;
  }
  .input-num {
    width: 39%;
  }
  .amount__input--box {
    width: 39%;
  }
  .amount__input {
    width: 100% !important;
  }
  .input-rate {
    width: 100%;
  }
  .mul-icon {
    right: -3.8rem;
  }
  .invoice__text {
    font-size: 4.4rem;
    padding: 0 0.6rem;
  }
  .input-quntity {
    width: 35%;
    margin-left: 4rem;
  }
  .input__num--box,
  .ship__box {
    width: 40%;
  }
  .tax__input,
  .discount__input,
  .shipping__input {
    width: 100%;
  }
}

@media only screen and (max-width: 25em) {
  html {
    font-size: 56.25%;
  }
  .title {
    width: 50%;
  }
  .invoice__bottom--right {
    padding: 0 1rem 0 0;
  }
  .input-num {
    width: 45%;
  }
  .amount__input--box {
    width: 50%;
  }
  .input__num--box,
  .ship__box {
    width: 50%;
  }

  .tax__input,
  .discount__input,
  .shipping__input {
    width: 100%;
  }
  .invoice__text--box2 .invoice-id {
    width: 35%;
  }
}
